.container {
    padding: 20px;
    background: #ff7d7d;
    margin: 10px;
}

.container > div, .gu-mirror {
    background: #fff;
    border: 1px solid #8a7d7d;
    padding: 20px;
    margin: 10px;
}

.container > div:hover {
    cursor: move;
}

.squares {
    display: flex;
}